In [1]:
import pandas as pd
import warnings 
#import matplotlib.pyplot as plt
warnings.filterwarnings('ignore') 
from sklearn.pipeline import Pipeline
import pickle 
from sklearn.pipeline import FeatureUnion

In [2]:
credit_scoring=pd.read_csv('./credit_scoring.csv',sep=';',header=0) 
credit_scoring

    Seniority  Home  Time   Age  ...   Assets    Debt  Amount   Price
0         9.0   1.0  60.0  30.0  ...      0.0     0.0   800.0   846.0
1        17.0   1.0  60.0  58.0  ...      0.0     0.0  1000.0  1658.0
2        10.0   0.0  36.0  46.0  ...   3000.0     0.0  2000.0  2985.0
3         0.0   1.0  60.0  24.0  ...   2500.0     0.0   900.0  1325.0
4         0.0   1.0  36.0  26.0  ...      0.0     0.0   310.0   910.0
5         1.0   0.0  60.0  36.0  ...   3500.0     0.0   650.0  1645.0
6        29.0   0.0  60.0  44.0  ...  10000.0     0.0  1600.0  1800.0
7         9.0   1.0  12.0  27.0  ...      0.0     0.0   200.0  1093.0
8         0.0   0.0  60.0  32.0  ...  15000.0     0.0  1200.0  1957.0
9         0.0   1.0  48.0  41.0  ...      0.0     0.0  1200.0  1468.0
10        6.0   0.0  48.0  34.0  ...   4000.0     0.0  1150.0  1577.0
11        7.0   0.0  36.0  29.0  ...   3000.0     0.0   650.0   915.0
12        8.0   0.0  60.0  30.0  ...   5000.0  2500.0  1500.0  1650.0
13       19.0   1.0  36.0  37.0  ...   3500.0   260.0   600.0   940.0

[14 rows x 13 columns]

In [3]:
credit_scoring.shape

(14, 13)

In [4]:
P=pickle.load(open('classifieurFinalKnn.pkl','rb'))
P.predict(credit_scoring)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1])

In [5]:
P=pickle.load(open('classifieurFinalDecisionTree.pkl','rb'))
P.predict(credit_scoring)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1])